.digital-clock {
    color: #ccc;
    font-size: 8em;
    font-family: 'Roboto', sans-serif;
}

.is-ancestor {
    font-family: "Source Sans Pro", Helvetica, sans-serif;
}

.panel-center-content {
    display: flex;
    justify-content: center;
}

.is-child.is-calendar {
    margin-bottom: -474px !important;
    overflow: hidden;
}
