.digital-clock {
    color: #ccc;
    font-size: 8em;
}

.is-ancestor {
    font-family: "Source Sans Pro", Helvetica, sans-serif;
}

.panel-center-content {
    display: flex;
    justify-content: center;
}
